## Pandas Merging Function

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'ID':[1,2,3,4],'class':[5,6,7,8]})
df1

   ID  class
0   1      5
1   2      6
2   3      7
3   4      8

In [3]:
df2 = pd.DataFrame({'ID':[1,2,3,4],'Name':['a','b','c','d']})
df2

   ID Name
0   1    a
1   2    b
2   3    c
3   4    d

In [5]:
pd.merge(df1,df2,on='ID')

   ID  class Name
0   1      5    a
1   2      6    b
2   3      7    c
3   4      8    d

In [6]:
pd.merge(df1,df2,on='ID',suffixes=('_Higher','_Middle'))

   ID  class Name
0   1      5    a
1   2      6    b
2   3      7    c
3   4      8    d