## Pandas GroupBy Function

In [18]:
import pandas as pd

In [19]:
df = pd.read_csv(r'F:\Projects\Python Projects\csv\student_result1.csv')
df

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75

In [20]:
gr1 = df.groupby(by='Section')
gr1

In [21]:
gr1.groups

{'A': [0, 2], 'B': [1], 'C': [3, 4]}

In [22]:
gr1 = df.groupby(['Section','Class']).groups
gr1

{('A', 10): [0, 2], ('B', 10): [1], ('C', 11): [3], ('C', 12): [4]}

In [23]:
for Section,df_1 in gr1:
    print(Section)
    print(df_1)

A
10
B
10
C
11
C
12

In [24]:
list(gr1)

[('A', 10), ('B', 10), ('C', 11), ('C', 12)]

In [25]:
dict(list(gr1))

{'A': 10, 'B': 10, 'C': 12}

In [26]:
gr3 = df.groupby('Class').get_group(10)
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60

In [27]:
gr3 = df.groupby('Section').get_group('A')
gr3

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
2        1003       A     10          3                       2          60

In [29]:
gr3.sum()

Student ID                2004
Section                     AA
Class                       20
Study hrs                    5
Social Media usage hrs       5
Percentage                 110
dtype: object